blinker==1.4
Click==7.0
Flask==1.0.2
Flask-FlatPages==0.7.0
Flask-Mail==0.9.1
Flask-WTF==0.14.2
Frozen-Flask==0.15
itsdangerous==1.1.0
Jinja2>=2.10.1
Markdown==3.0.1
MarkupSafe==1.1.0
Pygments==2.3.0
PyYAML>=4.2b1
Werkzeug==0.14.1
WTForms==2.2.1
